<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="/static/js/jquery-latest.js"></script>
        <script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
        <script type="text/javascript" src="/static/js/javascript.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/data.css">
        <title>Ambassador Leaderboard</title>
    </head>
    <body>
     <div id="container">
       <div id="content">
        <div class="table-title">
           <h1>Ambassador Leaderboard</h1>
           <div style="width:840px;margin:auto">
            <p style="float:left;margin-top:10px;margin-bottom:10px;font-size:12pt;font-weight:bold">Suffolk: <span style="color:red"> {{ salestw_suffolk }} </span> | Nassau: <span style="color:red"> {{ salestw_nassau }} </span></p>
            <p style="float:right;margin-top:12px;font-size:10pt"><a href="{{ url_for('home_view') }}">This Week</a> | Last Week</p>
           </div>
        </div>
            <table id="table-head" class="tablesorter2">
                <head>
                        <th style="width:200px;text-decoration:underline">SUFFOLK</th>
                        <th style="width:320px;font-size:12pt">LAST WEEK</th>
                        <th style="width:320px;font-size:12pt">ALL TIME</th>
                </head>
             </table>
            <table class="tablesorter myTable" style="margin-bottom:50px">
                <thead>
                    <tr>
                        <th style="text-align:left;text-indent:35px;width:200px">Ambassador</th>
                        <th style="width:160px">Sales</th>
                        <th style="width:160px">Sits</th>
                        <th style="width:160px">Sales</th>
                        <th style="width:160px">Sits</th>
                    </tr>
                </thead>
                <tbody>
                   {% for dict in amb_stats_suffolk %}
                    <tr>
                        <td style="text-align:left;text-indent:35px">{{ dict["name"] }}</td>
                        <td>{{ dict["salestw"] }}</td>
                        <td>{{ dict["sitstw"] }}</td>
                        <td>{{ dict["salestd"] }}</td>
                        <td>{{ dict["sitstd"] }}</td>
                    </tr>
                   {% endfor %}
                </tbody>
            </table>
             <table id="table-head" class="tablesorter2">
                <head>
                        <th style="width:200px;text-decoration:underline">NASSAU</th>
                        <th style="width:320px;font-size:12pt">LAST WEEK</th>
                        <th style="width:320px;font-size:12pt">ALL TIME</th>
                </head>
             </table>
            <table class="tablesorter myTable" style="margin-bottom:50px">
                <thead>
                    <tr>
                        <th style="text-align:left;text-indent:35px;width:200px">Ambassador</th>
                        <th style="width:160px">Sales</th>
                        <th style="width:160px">Sits</th>
                        <th style="width:160px">Sales</th>
                        <th style="width:160px">Sits</th>
                    </tr>
                </thead>
                <tbody>
                   {% for dict in amb_stats_nassau %}
                    <tr>
                        <td style="text-align:left;text-indent:35px">{{ dict["name"] }}</td>
                        <td>{{ dict["salestw"] }}</td>
                        <td>{{ dict["sitstw"] }}</td>
                        <td>{{ dict["salestd"] }}</td>
                        <td>{{ dict["sitstd"] }}</td>
                    </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>
            <div id="footer">-&nbsp;QUISPAR&nbsp;-</div>
      </div>
    </body>
</html>
