<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="/static/js/jquery-latest.js"></script>
        <script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
        <script type="text/javascript" src="/static/js/javascript.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/pods.css">
        <title>Pod Summary</title>
    </head>
    <body>
     <div id="container">
       <div id="content">
        <div class="table-title" style="height:90px">
        <h1 style="margin-top:20px">Yesterday's Stats: Nassau</h1>
           <div style="width:840px;margin:auto">
            <p style="float:left;margin-top:10px;margin-left:-2px;font-size:10pt">Sitting | <a href="{{ url_for('nassau_metrics')}}">Setting</a></p>
            <p style="float:right;margin-top:10px;font-size:10pt"><a href="{{ url_for('appts_yest_nassau') }}">Yesterday's Outcomes</a> | <a href="{{ url_for('appts_today_nassau') }}">Today's Appointments</a> | <a href="{{ url_for('overview') }}">Home</a></p>
           </div>
        </div>
       <table class="tablesorter myTable" style="margin-bottom:30px">
                <thead>
              <tr>
                        <th style="text-align:left;text-indent:35px;width:197px">Ambassador</th>
                        <th style="width:107px">Potential Sits</th>
                        <th style="width:107px">Sits</th>
                        <th style="width:107px">Sit Rate</th>
                        <th style="width:107px;border-right:none">Sales</th>
                    </tr>
                </thead>
                <tbody>
           {% for item in info["n1"]["ambs"] %}
            <tr>
              <td style="text-align:left;text-indent:35px">{{ item["ambassador"] }}</td>
                        <td>{{ item["potential_sits"] }}</td>
                        <td>{{ item["sits"] }}</td>
                        <td>{{ item["sit_rate"] }}</td>
                        <td>{{ item["sales"] }}</td>
            </tr>
           {% endfor %}
            <tr style="border-top: 1px solid #dddddd">
                        <td style="text-align:left;text-indent:35px;font-weight:bold">Total</td>
                        <td style="border-left: 1px solid #dddddd;font-weight:bold">{{ info["n1"]["totals"]["potential_sits"] }}</td>
                        <td style="border-left: 1px solid #dddddd;font-weight:bold">{{ info["n1"]["totals"]["sits"] }}</td>
                        <td style="border-left: 1px solid #dddddd;font-weight:bold">{{ info["n1"]["totals"]["sit_rate"] }}</td> 
                        <td style="border-left: 1px solid #dddddd;font-weight:bold;border-right:none">{{ info["n1"]["totals"]["sales"] }}</td>

            </tr>
                </tbody>
      </table>
            <table class="tablesorter myTable" style="margin-bottom:30px;border-bottom:0px">
                <thead>
                    <tr>
                        <th style="text-align:left;text-indent:35px;width:197px">Ambassador</th>
                        <th style="width:107px">Potential Sits</th>
                        <th style="width:107px">Sits</th>
                        <th style="width:107px">Sit Rate</th>
                        <th style="width:107px;border-right:none">Sales</th>
                    </tr>
                </thead>
                <tbody>
                   {% for item in info["n2"]["ambs"] %}
                    <tr>
                        <td style="text-align:left;text-indent:35px">{{ item["ambassador"] }}</td>
                        <td>{{ item["potential_sits"] }}</td>
                        <td>{{ item["sits"] }}</td>
                        <td>{{ item["sit_rate"] }}</td>
                        <td>{{ item["sales"] }}</td>
                        
                    </tr>
                   {% endfor %}
                    <tr style="border-top: 1px solid #dddddd">
                        <td style="text-align:left;text-indent:35px;font-weight:bold">Total</td>
                        <td style="border-left: 1px solid #dddddd;font-weight:bold">{{ info["n2"]["totals"]["potential_sits"] }}</td>
                        <td style="border-left: 1px solid #dddddd;font-weight:bold">{{ info["n2"]["totals"]["sits"] }}</td>
                        <td style="border-left: 1px solid #dddddd;font-weight:bold">{{ info["n2"]["totals"]["sit_rate"] }}</td>
                        <td style="border-left: 1px solid #dddddd;font-weight:bold;border-right:none">{{ info["n2"]["totals"]["sales"] }}</td> 
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    </body>
</html>
