<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="/static/js/jquery-latest.js"></script>
        <script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
        <script type="text/javascript" src="/static/js/javascript.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/pods.css">
        <title>Pod Summary</title>
    </head>
    <body>
     <div id="container">
       <div id="content">
        <div class="table-title" style="height:60px">
    	   <h1 style="margin-top:20px">Ambassador Overview</h1>
           <div style="width:840px;margin:auto">
            <p style="float:right;margin-top:-20px;font-size:10pt"><a href="{{ url_for('suffolk') }}">Suffolk</a> | <a href="{{ url_for('nassau') }}">Nassau</a> </p>
           </div>
        </div>
            <table class="tablesorter myTable" style="margin-bottom:0px">
                <thead>
                    <tr>
                        <th style="width:194px;border-right: 1px solid #dddddd;border-bottom:none"></th>
                        <th colspan="4" style="width:320px;text-decoration:underline;font-size:12pt;border-right: 1px solid #dddddd;border-bottom:none">YESTERDAY</th>
                        <th colspan="4" style="width:321px;text-decoration:underline;font-size:12pt;border-right: 1px solid #dddddd;border-bottom:none">THIS WEEK</th>
                    </tr>
                    <tr>
                        <th style="text-align:left;text-indent:35px;width:120px">Office</th>
                        <th style="width:107px;border-right:none">Sets</th>
                        <th style="width:107px;border-right:none">Sits</th>
                        <th style="width:107px;border-right:none">Sales</th>
                        <th style="width:107px">Sit Rate</th>
                        <th style="width:107px;border-right:none">Sets</th>
                        <th style="width:107px;border-right:none">Sits</th>
                        <th style="width:107px;border-right:none">Sales</th>
                        <th style="width:107px">Sit Rate</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:left;text-indent:35px;border-right: solid 1px #dddddd">Suffolk</td>
                        <td>{{ info["suffolk"]["setsyd"] }}</td>
                        <td>{{ info["suffolk"]["sitsyd"] }}</td>
                        <td>{{ info["suffolk"]["salesyd"] }}</td>
                        <td style="border-right: solid 1px #dddddd">{{ info["suffolk"]["sitrateyd"] }}</td>
                        <td>{{ info["suffolk"]["setstw"] }}</td>
                        <td>{{ info["suffolk"]["sitstw"] }}</td>
                        <td>{{ info["suffolk"]["salestw"] }}</td>
                        <td>{{ info["suffolk"]["sitratetw"] }}</td>
                    </tr>
                    <tr>
                        <td style="text-align:left;text-indent:35px;border-right: solid 1px #dddddd">Nassau</td>
                        <td>{{ info["nassau"]["setsyd"] }}</td>
                        <td>{{ info["nassau"]["sitsyd"] }}</td>
                        <td>{{ info["nassau"]["salesyd"] }}</td>
                        <td style="border-right: solid 1px #dddddd">{{ info["nassau"]["sitrateyd"] }}</td>
                        <td>{{ info["nassau"]["setstw"] }}</td>
                        <td>{{ info["nassau"]["sitstw"] }}</td>
                        <td >{{ info["nassau"]["salestw"] }}</td>
                        <td >{{ info["nassau"]["sitratetw"] }}</td>
                    </tr>
                    <tr style="border-top: 1px solid #dddddd;height:30px">
                        <td style="text-align:left;text-indent:35px;font-weight:bold;border-right: 1px solid #dddddd">Total</td>
                        <td style="font-weight:bold">{{ info["total"]["setsyd"] }}</td>
                        <td style="font-weight:bold">{{ info["total"]["sitsyd"] }}</td>
                        <td>{{ info["total"]["salesyd"] }}</td>
                        <td style="font-weight:bold;border-right: 1px solid #dddddd">{{ info["total"]["sitrateyd"] }}</td>
                        <td style="font-weight:bold">{{ info["total"]["setstw"] }}</td>
                        <td style="font-weight:bold">{{ info["total"]["sitstw"] }}</td>
                        <td style="font-weight:bold">{{ info["total"]["salestw"] }}</td>
                        <td style="font-weight:bold">{{ info["total"]["sitratetw"] }}</td>
                    </tr>
                </tbody>
            </table>
      </div>
    </body>
</html>
