<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="/static/js/jquery-latest.js"></script>
        <script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
        <script type="text/javascript" src="/static/js/javascript.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/data.css">
        <title>Pod Summary</title>
    </head>
    <body>
     <div id="container">
       <div id="content">
        <div class="table-title">
    	   <h1>Pod Summary</h1>
           <div style="width:840px;margin:auto">
            <p style="margin-top:12px;font-size:10pt">This Week | <a href="{{ url_for('last_week_view') }}">Last Week</a> </p>
           </div>
           <div style="width:840px;margin:auto">
           </div>
        </div>
    		<table class="tablesorter myTable" style="margin-bottom:50px">
                <thead>
    			    <tr>
    				    <th style="text-align:left;text-indent:35px;width:200px">Ambassador</th>
                        <th style="width:213px">Sets</th>
                        <th style="width:213px">Sits</th>
    				    <th style="width:213px">Sales</th>
                    </tr>
                </thead>
                <tbody>
 				   {% for dict in info["n1"] %}
 				    <tr>
 					    <td style="text-align:left;text-indent:35px">{{ dict["name"] }}</td>
                        <td>{{ dict["sets"] }}</td>
                        <td>{{ dict["sits"] }}</td>
                        <td>{{ dict["sales"] }}</td>
 				    </tr>
 				   {% endfor %}
                </tbody>
 			</table>
        </div>
            <div id="footer">-&nbsp;QUISPAR&nbsp;-</div>
      </div>
    </body>
</html>
