<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="/static/js/jquery-latest.js"></script>
        <script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
        <script type="text/javascript" src="/static/js/javascript.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/data.css">
        <title>Yesterday's Appointments</title>
    </head>
    <body>
     <div id="container">
       <div id="content">
        <div class="table-title">
    	   <h1>Today's Appointments: {{ market }}</h1>
        </div>
    		<table class="tablesorter myTable" style="margin-bottom:50px">
                <thead>
    			    <tr style="height:60px;font-size:12pt">
    				    <th style="text-align:left;width:100px;text-align:center">Setter</th>
                        <th style="text-align:left;width:80px;text-align:center">Time</th>
                        <th style="text-align:left;width:120px;text-align:center">Customer</th>
                        <th style="text-align:left;width:140px;text-align:center">Address</th>
                        <th style="text-align:left;width:100px;text-align:center">Phone</th>
                        <th style="text-align:left;width:80px;text-align:center">Status</th>
                        <th style="text-align:left;width:80px;text-align:center">Assigned</th>
                        <th style="text-align:left;width:120px;text-align:center">CSR Notes</th>
                        <th style="text-align:left;width:200px;text-align:center">Field Notes</th>
                    </tr>
                </thead>
                <tbody>
 				   {% for appt in info %}
 				    <tr style="height:100px">
 					    <td style="font-weight:bold;font-size:12pt;text-indent:5px">{{ appt["ambassador"] }}</td>
                        <td>{{ appt["time"] }}</td>
                        <td>{{ appt["name"] }}</td>
                        <td>{{ appt["address"] }}</td>
                        <td>{{ appt["phone"] }}</td>
                        <td>{{ appt["status"] }}</td>
                        <td>{{ appt["assigned_to"] }}</td>
                        <td>{{ appt["csr_notes"] }}</td>
                        <td>{{ appt["field_notes"] }}</td>
 				    </tr>
 				   {% endfor %}
                </tbody>
 			</table> 
        </div>
      </div>
    </body>
</html>
