<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="/static/js/jquery-latest.js"></script>
        <script type="text/javascript" src="/static/js/jquery.tablesorter.js"></script>
        <script type="text/javascript" src="/static/js/javascript.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/css/pods.css">
        <title>Pod Summary</title>
    </head>
    <body>
     <div id="container">
       <div id="content">
        <div class="table-title" style="height:60px">
    	   <h1 style="margin-top:20px">Pods: Suffolk</h1>
           <div style="width:840px;margin:auto">
            <p style="float:right;margin-top:-20px;font-size:10pt"><a href="{{ url_for('overview') }}">Overview</a> | <a href="{{ url_for('nassau_pods') }}">Nassau Pods</a> </p>
           </div>
           <div style="width:840px;margin:auto">
           </div>
        </div>
            <table class="table-head tablesorter2">
                <head>
                        <th style="width:195px;color:red;border-right: 1px solid #dddddd">POD A</th>
                        <th style="width:319px;font-size:12pt;border-right: 1px solid #dddddd">TODAY</th>
                        <th style="width:321px;font-size:12pt;border-right: 1px solid #dddddd">THIS WEEK</th>
                </head>
            </table>
    		<table class="tablesorter myTable" style="margin-bottom:0px">
                <thead>
    			    <tr>
    				    <th style="text-align:left;text-indent:35px;width:197px">Ambassador</th>
                        <th style="width:107px">Sets</th>
                        <th style="width:107px">Sits</th>
    				    <th style="width:107px">Sales</th>
                        <th style="width:107px">Sets</th>
                        <th style="width:107px">Sits</th>
                        <th style="width:107px">Sales</th>
                    </tr>
                </thead>
                <tbody>
 				   {% for dict in info["s1"]["ambassadors"] %}
 				    <tr>
 					    <td style="text-align:left;text-indent:35px">{{ dict["name"] }}</td>
                        <td>{{ dict["sets_today"] }}</td>
                        <td>{{ dict["sits_today"] }}</td>
                        <td>{{ dict["sales_today"] }}</td>
                        <td>{{ dict["sets_tw"] }}</td>
                        <td>{{ dict["sits_tw"] }}</td>
                        <td>{{ dict["sales_tw"] }}</td>
 				    </tr>
 				   {% endfor %}
                </tbody>
 			</table>
            <table class="table-head tablesorter2">
                <thead>
                    <tr>
                        <th style="text-align:left;text-indent:35px;width:198px;font-weight:bold;border-top:0px;width:197px">Total</th>
                        <th style="width:107px;text-indent:-1px">{{ info["s1"]["totals"]["sets_today"] }}</th>
                        <th style="width:107px;text-indent:-1px">{{ info["s1"]["totals"]["sits_today"] }}</th>
                        <th style="width:107px;text-indent:-1px">{{ info["s1"]["totals"]["sales_today"] }}</th>
                        <th style="width:107px;text-indent:-1px">{{ info["s1"]["totals"]["sets_tw"] }}</th>
                        <th style="width:107px;text-indent:-1px">{{ info["s1"]["totals"]["sits_tw"] }}</th>
                        <th style="width:107px;text-indent:-2px">{{ info["s1"]["totals"]["sales_tw"] }}</th>
                    </tr>
                </thead>
            </table>
             <table class="table-head tablesorter2" style="margin-top:40px">
                <head>
                        <th style="width:194px;color:red;border-right: 1px solid #dddddd">POD B</th>
                        <th style="width:319px;font-size:12pt;border-right: 1px solid #dddddd">TODAY</th>
                        <th style="width:321px;font-size:12pt;border-right: 1px solid #dddddd">THIS WEEK</th>
                </head>
            </table>
            <table class="tablesorter myTable" style="margin-bottom:0px;border-bottom:0px">
                <thead>
                    <tr>
                        <th style="text-align:left;text-indent:35px;width:196px">Ambassador</th>
                        <th style="width:107px">Sets</th>
                        <th style="width:107px">Sits</th>
                        <th style="width:107px">Sales</th>
                        <th style="width:107px">Sets</th>
                        <th style="width:107px">Sits</th>
                        <th style="width:107px">Sales</th>
                    </tr>
                </thead>
                <tbody>
                   {% for dict in info["s2"]["ambassadors"] %}
                    <tr>
                        <td style="text-align:left;text-indent:35px">{{ dict["name"] }}</td>
                        <td>{{ dict["sets_today"] }}</td>
                        <td>{{ dict["sits_today"] }}</td>
                        <td>{{ dict["sales_today"] }}</td>
                        <td>{{ dict["sets_tw"] }}</td>
                        <td>{{ dict["sits_tw"] }}</td>
                        <td>{{ dict["sales_tw"] }}</td>
                    </tr>
                   {% endfor %}
                </tbody>
            </table>
            <table class="table-head tablesorter2" style="border-top:0px">
                <thead>
                    <tr>
                        <th style="text-align:left;text-indent:35px;width:198px;font-weight:bold;width:196px">Total</th>
                        <th style="width:107px;text-indent:-1px">{{ info["s2"]["totals"]["sets_today"] }}</th>
                        <th style="width:107px;text-indent:-1px">{{ info["s2"]["totals"]["sits_today"] }}</th>
                        <th style="width:107px;text-indent:-1px">{{ info["s2"]["totals"]["sales_today"] }}</th>
                        <th style="width:107px;text-indent:-1px">{{ info["s2"]["totals"]["sets_tw"] }}</th>
                        <th style="width:107px;text-indent:-1px">{{ info["s2"]["totals"]["sits_tw"] }}</th>
                        <th style="width:107px;text-indent:-2px">{{ info["s2"]["totals"]["sales_tw"] }}</th>
                    </tr>
                </thead>
            </table>
             <table class="table-head tablesorter2" style="margin-top:40px">
                <head>
                        <th style="width:195px;color:red;border-right: 1px solid #dddddd">POD C</th>
                        <th style="width:319px;font-size:12pt;border-right: 1px solid #dddddd">TODAY</th>
                        <th style="width:321px;font-size:12pt;border-right: 1px solid #dddddd">THIS WEEK</th>
                </head>
            </table>
             <table class="tablesorter myTable" style="margin-bottom:0px;border-bottom:0px">
                <thead>
                    <tr>
                        <th style="text-align:left;text-indent:35px;width:197px">Ambassador</th>
                        <th style="width:107px">Sets</th>
                        <th style="width:107px">Sits</th>
                        <th style="width:107px">Sales</th>
                        <th style="width:107px">Sets</th>
                        <th style="width:107px">Sits</th>
                        <th style="width:107px">Sales</th>
                    </tr>
                </thead>
                <tbody>
                   {% for dict in info["s3"]["ambassadors"] %}
                    <tr>
                        <td style="text-align:left;text-indent:35px">{{ dict["name"] }}</td>
                        <td>{{ dict["sets_today"] }}</td>
                        <td>{{ dict["sits_today"] }}</td>
                        <td>{{ dict["sales_today"] }}</td>
                        <td>{{ dict["sets_tw"] }}</td>
                        <td>{{ dict["sits_tw"] }}</td>
                        <td>{{ dict["sales_tw"] }}</td>
                    </tr>
                   {% endfor %}
                </tbody>
            </table>
            <table class="table-head tablesorter2" style="border-top:0px">
                <thead>
                    <tr>
                        <th style="text-align:left;text-indent:35px;width:198px;font-weight:bold">Total</th>
                        <th style="width:107px;text-indent:-2px">{{ info["s3"]["totals"]["sets_today"] }}</th>
                        <th style="width:107px;text-indent:-2px">{{ info["s3"]["totals"]["sits_today"] }}</th>
                        <th style="width:107px;text-indent:-2px">{{ info["s3"]["totals"]["sales_today"] }}</th>
                        <th style="width:107px;text-indent:-2px">{{ info["s3"]["totals"]["sets_tw"] }}</th>
                        <th style="width:107px;text-indent:-2px">{{ info["s3"]["totals"]["sits_tw"] }}</th>
                        <th style="width:107px;text-indent:-2px">{{ info["s3"]["totals"]["sales_tw"] }}</th>
                    </tr>
                </thead>
            </table>
        </div>
      </div>
    </body>
</html>
